<html>
<head>
	<title>Student controller: AngularJS</title>
	<script src="../../jScripts/angular_1.4.6/angular.js"></script>
</head>
<body>
<div ng-app="studentApp" ng-controller="studentController">

	<h3>Student details</h3>
	<p>Enter first name: <input type="text" ng-model="student.firstname"></p>
	<p>Enter first name: <input type="text" ng-model="student.lastname"></p>
	<hr />
	<p><span ng-bind="student.fullName()"></span></p>
	<hr />
	<hr />
	<p>Your details: {{student.fullName()}}</p>
</div>
<script type="text/javascript">
	angular.module( 'studentApp', [])
		.controller( 'studentController', function($scope) {
			$scope.student = {
				firstname: "MirzaShakir",
				lastname: "Baig",

				fullName: function () {
					var objStudent;
					objStudent = $scope.student;
					return objStudent.firstname + '  ' + objStudent.lastname;
				}
			};
		});
</script>
</body>
</html>
<!--
Always use function with brackets.
if you just declare function like {{student.fullName}}, it will display the code written in that function on HTML side
-->
